[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/chorman0773/llvm-project.git
[submodule "rust"]
	path = rust
	url = https://github.com/chorman0773/rust.git
[submodule "bsnes"]
	path = bsnes
	url = https://github.com/chorman0773/bsnes.git
[submodule "elfutils"]
	path = elfutils
	url = https://github.com/chorman0773/util_libs.git
[submodule "qc"]
	path = qc
	url = https://github.com/chorman0773/qc.git
